body {
  width: 100vw!;
  overflow: hidden;
}
.weather {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #2f4680, #500a34);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}
.search-bar .img {
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}
.weather-icon {
  width: 150px;
  margin: 30px 0;
}

.temperature {
  color: #fff;
  font-size: 10vw;
  line-height: 1;
}
.location {
  color: #fff;
  font-size: 25px;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
}
.weather-data .col span {
  display: block;
  font-size: 16px;
}
.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .weather {
    padding: 10px !important;
  }

  .search-bar input {
    height: 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    padding-left: 8px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
  }
  .search-bar .img {
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 6px;
    background: #ebfffc;
    cursor: pointer;
  }
}
